{% extends 'HAVE_eCommerce/layout.html' %}

{% block title%} HAVE | Congrats! {% endblock %}

{% block content %}
  <!-- Page Content-->
  <div class="container pb-5 mb-sm-4">
    <div class="pt-5">
      <div class="card py-3 mt-sm-3">
        <div class="card-body text-center">
          <h2 class="h4 pb-3">Thank you for your order!</h2>
          <p class="font-size-sm mb-2">Your order has been placed and will be processed as soon as possible.</p>
          <p class="font-size-sm mb-2">Make sure you make note of your order number, which is <span class='font-weight-medium'>{{order.orderID}}.</span></p>
          <p class="font-size-sm">You will be receiving an email shortly with confirmation of your order. <u>You can now:</u></p>
          <a class="btn btn-secondary mt-3 mr-3" href="{% url 'home' %}">Go back shopping</a><a class="btn btn-primary mt-3" href="{% url 'orders' %}"><i class="czi-location"></i>&nbsp;Check Orders</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}