{% extends 'HAVE_eCommerce/layout.html' %}

{% block title%} HAVE | Product {% endblock %}

{% block content %}

{% load static %}
<!------------------------------------------------------------- Page Content------------------------------------------------------------->
  <!-- Page Content-->
  <div class="container">
	<div class="bg-light box-shadow-lg rounded-lg px-4 py-3 mb-5">
	  <div class="px-lg-3">
		<div class="row">
		  <!-- Product-->
		  {% for prod in product %}
		  <!-- Product Image-->
		  <div class="col-lg-7 pt-lg-4" style="margin-top: -50px;">
			<div>
				<img src="{{prod.image.url}}" alt="Product image">
			</div>
		  </div>
		  <!-- Product details-->
		  <div class="col-lg-5 pt-lg-0" style="margin-left: -20px;">
			<div class="d-flex justify-content-between align-items-center mb-2"><a href="#reviews" data-scroll>
				<h3>{{prod.name}}</h3></a>
			</div>
			  <div class="mb-3"><span class="h3 font-weight-normal text-accent mr-1">Rs. {{prod.individual_price}}</span></div>
			  <form class="mb-grid-gutter" method="post">
				<div class="form-group d-flex align-items-center">
				  <button class="btn btn-primary btn-shadow btn-block" type="button"><a style="color:white" href ="/product/checkout/{{ prod.productID }}/{{teamID}}/{{teamID}}">Proceed to Pay</a></button>
				</div>
			  </form>
			  <!-- Product panels-->
			  <div class="accordion mb-4" id="productPanels">
				<div class="card">
				  <div class="card-header">
					<h3 class="accordion-heading"><a role="button"></i>Product Info</a></h3>
				  </div>
				  <div>
					<div class="card-body">
					  <a class="font-size-sm mb-2">Product ID : {{prod.productID}}<br></a>
					  <a class="font-size-sm mb-2">Category: {{prod.category}} <br></a>
					  <a class="font-size-sm mb-2">Sub-Category: {{prod.subcategory}}<br></a>
					  <a class="font-size-sm mb-2">Stock: {{prod.stock}}<br></a>
					  <a class="font-size-sm mb-2">Payment Mode: {{prod.paymentMode}}<br></a>
					  <a class="font-size-sm mb-2">Required Team Size: {{prod.req_team_size}}<br></a>
					</div>
				  </div>
				<div>
					<hr>
					<div class="card-body">
						<h6 class="font-size-sm mb-2">Description:</h6><a>{{prod.description}}</a>
					  </div>
				    </div>
				</div>
				<!-- Sharing-->
				<br>
				<h6 class="d-inline-block align-middle font-size-base my-2 mr-2">&nbsp;Share:</h6>
				<a class="share-btn sb-twitter mr-2 my-2" href="twitter.com"></i>Twitter</a>
				<a class="share-btn sb-instagram mr-2 my-2" href="instagram.com"></i>Instagram</a>
				<a class="share-btn sb-facebook my-2" href="facebook.com"></i>Facebook</a>
			</div>
		  </div>
		</div>
		{% endfor %}
	  </div>
	</div>
</div>
<!----------------------------------------------------------- Page Content End -------------------------------------------------------------->

{% endblock %}